/* Tablet Styles */
@media only screen and (min-width: 768px) {
  .page {
    width: 75%;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 992px) {
  .page {
    width: 50%;
  }
  .chapter {
    width: 75%;
  }
}
